<%= form_tag({:action => :create}, {:class => "form"}) do %>
  <div class="edit-container">
    <%= submit_tag "Submit", class: "btn btn-primary" %>
    <button class="btn btn-default">Clear</button>
  </div>

  <div class="setting-container">
    <div class="input-group">
      <span class="input-group-addon">Topo type</span>
      <%= select_tag :topo_type, options_for_select(@topoType), class: "form-control" %>
    </div>

    <div class="input-group">
      <span class="input-group-addon">Network size</span>
      <%= text_field_tag :network_size, 8, class: "form-control" %>
    </div>

    <div class="input-group">
      <span class="input-group-addon">Switch delay</span>
      <%= text_field_tag :switch_delay, "123", class: "form-control", disabled: true %>
    </div>

    <div class="input-group">
      <span class="input-group-addon">Switch power</span>
      <%= text_field_tag :switch_power, "123", class: "form-control", disabled: true %>
    </div>

    <div class="input-group">
      <span class="input-group-addon">Link latancy</span>
      <%= text_field_tag :link_latancy, "123", class: "form-control", disabled: true %>
    </div>
  </div>
<% end =%>
