<%= form_tag("/dashboards/create", {:id => "submit", :class => "form", :remote => true}) do %>
  <div id="edit-container">
    <%= submit_tag "Submit", class: "btn btn-primary" %>
    <!-- <button id="clear" class="btn btn-default">Clear</button> -->
  </div>

  <div id="setting-container">
    <div class="input-group">
      <span class="input-group-addon">Topo type</span>
      <%= select_tag "opts[topo_type]", options_for_select(@topoType), onchange: "topoTypeChange(this);", class: "form-control" %>
    </div>

    <div class="input-group">
      <span class="input-group-addon">Network size</span>
      <%= number_field_tag "opts[network_size]", 64, class: "form-control" %>
    </div>

    <div id="torus-options" class="show" >
      <div class="input-group">
        <span class="input-group-addon">X size</span>
        <%= number_field_tag "opts[x_size]", 8, class: "form-control" %>
      </div>

      <div class="input-group">
        <span class="input-group-addon">Number of random links</span>
        <%= number_field_tag "opts[n_random_links]", 2, class: "form-control", onchange: "nLinkChange(this);" %>
      </div>

      <div class="input-group">
        <span class="input-group-addon">Alpha</span>
        
        <button class="btn btn-default" type="button" id="dropdownMenu1" onclick="toggleLinkAlpha();">
            Customize
        </button> 

      </div>

      <div id="link-alpha" class="hide">
        <div class="input-group"> 
          <span class="input-group-addon">Link 1</span>
          <input type="number" name="opts[alphas][1]" value="1.6" step="0.01">
        </div>

        <div class="input-group">
          <span class="input-group-addon">Link 2</span>
          <input type="number" name="opts[alphas][2]" value="2" step="0.01">
        </div>
      </div>

      <!-- <select onchange="linkAlpha(this);">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
      </select> -->
    </div>    

    <div class="input-group">
      <span class="input-group-addon">Switch delay</span>
      <select class="form-control" id="opts[switch_delay]">
        <option>40 ns/m</option>
        <option>100 ns/m</option>
      </select>        
    </div>

    <div class="input-group">
      <span class="input-group-addon">Switch power</span>
      <%= text_field_tag "opts[switch_power]", "100", class: "form-control", disabled: true %>
    </div>

    <div class="input-group">
      <span class="input-group-addon">Link latency</span>
      <%= text_field_tag "opts[link_latency]", "5 ns/m", class: "form-control", disabled: true %>
    </div>
  </div>
<% end =%>
